<h1>Pokedek</h1>
<hr>
<div>
    <button [routerLink]="['/pokemon', 'nuevo']"  type="button" class="btn btn-info float-right">+</button>
    <br>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Biografia</th>
            <th scope="col">Tipo</th>
            <th scope="col">Acciones</th>
              
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of pokedex; let i=index">
            <th scope="col">{{i+1}}</th>
            <th scope="col"><img class="poke" src="{{pokemon.url}}"></th>
            <th scope="col">{{pokemon.nombre}}</th>
            <th scope="col">{{pokemon.bio}}</th>
            <th scope="col">{{pokemon.tipo}}</th>  
            <th><button type="button" class="btn btn-outline-primary" [routerLink]="['/pokemon', pokemon.id]">Editar</button>
            <th><button type="button" class="btn btn-outline-danger" (click)="eliminar(pokemon.id, i)">Eliminar</button></th>             
        </tr>
       
    </tbody>
</table>