<h1>Pokedek</h1>
<hr>
<div>
    <button [routerLink]="['/pokemon', 'nuevo']"  type="button" class="btn btn-info float-right">+</button>
    <br>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Biografia</th>
            <th scope="col">Tipo</th>  
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col">1</th>
            <th scope="col"><img class="poke" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png"></th>
            <th scope="col">Squirtle</th>
            <th scope="col">Lanzar agua</th>
            <th scope="col">Agua</th>               
        </tr>
       
    </tbody>
</table>